<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdaptiveClient" version="0.30.1" targetFramework="net471" />
  <package id="AdaptiveClient.EntityFramework" version="0.30.2" targetFramework="net471" />
  <package id="Autofac" version="4.8.1" targetFramework="net471" />
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="net471" />
  <package id="Microsoft.EntityFrameworkCore" version="2.0.3" targetFramework="net471" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="2.0.3" targetFramework="net471" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="2.0.2" targetFramework="net471" />
  <package id="Microsoft.Extensions.Caching.Memory" version="2.0.2" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.0.2" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging" version="2.0.2" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.2" targetFramework="net471" />
  <package id="Microsoft.Extensions.Options" version="2.0.2" targetFramework="net471" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net471" />
  <package id="System.Collections" version="4.3.0" targetFramework="net471" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net471" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net471" />
  <package id="System.Data.SqlClient" version="4.4.3" targetFramework="net471" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net471" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.1" targetFramework="net471" />
  <package id="System.Interactive.Async" version="3.1.1" targetFramework="net471" />
  <package id="System.IO" version="4.3.0" targetFramework="net471" />
  <package id="System.Linq" version="4.3.0" targetFramework="net471" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net471" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net471" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net471" />
  <package id="System.Net.NetworkInformation" version="4.3.0" targetFramework="net471" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net471" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net471" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net471" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net471" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net471" />
  <package id="System.Threading" version="4.3.0" targetFramework="net471" />
</packages>