@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1>Leader Analytics</h1>
    <h4>AdaptiveClient.EntityFramework Demo Application</h4>
</div>

<div class="row" style="margin-top:30px;">
    <span class="glyphicon glyphicon-hand-right  col-lg-1" style="font-size:x-large;"></span>
    <div class="col-lg-11">
        Choose a database or API server from the dropdown in the upper right.  Make sure the Zamagon.API server is running before selecting the WebAPI datasource.
    </div>
</div>

<div class="row" style="margin-top:30px;">
    <span class="glyphicon glyphicon-ok-sign col-lg-1" style="font-size:x-large;"></span>
    <div class="col-lg-11" >
        This application is intended to demonstrate AdaptiveClient's ability to access data from a variety of sources.
        For this reason the app presents a UI that allows the user to manually select a data source.  Be aware, however, that this is not
        how AdaptiveClient is intended to function in most applications.  Most applications will specify an
        ordered list of data sources from which AdaptiveClient will choose the most preferred.  If AdaptiveClient fails to make a connection with any one
        data source it will fall back automatically to the next data source. No interaction from the user is required.
    </div>
</div>
